@import url(http://fonts.googleapis.com/css?family=Cabin:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

$cfa-red: #cf1b41;
$cfa-blue: #399fd3;
$cfa-grey: #939699;
$brigade-grey: #6D6E71;

$cabin-stack: 'Cabin', sans-serif;
$oswald-stack: 'Oswald', sans-serif;
$helvetica-stack: 'Helvetica', sans-serif;
$fake-gotham-stack: 'Montserrat', sans-serif;
